@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("https://github.com/Rynl684/portfolio/blob/master/84774325-abstract-blue-background-texture-abstract-gradiant-blur-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #41DAD6;
  
}
h1{
  
  float: left;
  
  float: right;
  
}
