@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("https://github.com/Rynl684/portfolio/blob/master/84774325-abstract-blue-background-texture-abstract-gradiant-blur-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #41DAD6;
  
}
h1{
  float: right;
  
}



.Ryan {
  color: #41DAD6
    
    
}


.navbar {
  overflow:hidden;
  background-color: 1EDAD2;
}


.navbar a {
  float: left; 
  display: block;
  color: #1EDA38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

.navbar a:hover {
  background-color: 1EDA38;
  color: #DA1E1E;

