@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("https://github.com/Rynl684/portfolio/blob/master/Force%20Logo.jpg");
  background-repeat: no-repeat;
}

h1 {
  color: #41DAD6;
  
}
